.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#language_button {
    font-size: 12px;
    padding: 4px 8px;
    background-color: pink;
}

#list div {
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 20px;
}

body {
    background-color: rgb(255, 255, 255);
}